body {
  background-color: #87ceeb;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  height: 100%;
}

.container {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.spacing {
  padding: 20px 100px 20px 100px;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center; /* Center the links horizontally */
}

li {
  margin: 0 10px; /* Add some space between the links */
}

a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit the color from the parent element */
  padding: 10px; /* Add some padding for better click area */
}

a:hover {
  color: #007bff; /* Change color on hover */
}

/* HEADER */

.main-title {
  font-size: 90px;
  margin: 0;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height of the viewport */
}

main {
  flex: 1; /* Take up remaining space between header and footer */
}

.welcome-title {
  text-align: center;
}

.img1 {
  width: 50%;
}

.feedback-tile {
  font-size: 40px;
  text-align: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.feedback-form label {
  margin-top: 10px;
}

.feedback-form input[type='email'],
.feedback-form textarea {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.feedback-form textarea {
  height: 100px;
  resize: vertical; 
  vertical-align: top; 
  overflow-y: auto; 
}
.feedback-form button {
  padding: 15px 30px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
}

.feedback-form button:hover {
  background-color: #0056b3;
}

.feedback-ul {
  list-style-type: none;
}

.feedback-li {
  margin: 50px 0px
}